@page "/set-password"
@*<div class="col-lg-12 text-center">
        @if (!string.IsNullOrEmpty(Message))
        {
            <div class="alert @StatusClass">@Message</div>
        }
        <EditForm Model="@Model" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group row">
                <label class="col-sm-3">Enter password: </label>
                <InputText type="password" class="form-control col-sm-8" @bind-Value=@Model.Password></InputText>
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Model.Password)" />
            </div>
            <button type="submit" class="btn btn-primary edit-btn">Submit</button>
        </EditForm>
    </div>*@



<div class="container mt-5 d-flex justify-content-center" style="margin-top: 5rem !important; ">
    <div class="card mb-3">
        <img src="https://gkstaticimages.z6.web.core.windows.net/le-yoga%20-13ikb.png" class="card-img-top" style="width: 35vw;
        align-self: center;" alt="...">
        <div class="card-body px-4">
            <p class="card-text">
                Vielen Dank. Ihr Gerät ist nun zugeordnet und Sie können mit der Installation beginnen. Schalten Sie
                dazu einfach das neue Gerät ein und warten Sie einige Minuten, bis die Abfrage nach einer Zugangskennung erfolgt. Geben
                Sie dann die unten angegebene Kennung ein und das Gerät wird für Sie fertiggestellt.
            </p>

            <div>
                @if (!string.IsNullOrEmpty(Message))
                {
                    <div class="alert @StatusClass">
                        @Message
                    </div>
                    <div>
                        <p>Please click retry to try again <button class="btn btn-primary edit-btn" @onclick="TryAgain">Retry</button></p>
                    </div>
                }
                @if (Response != null)
                {
                    <h2> @(Response.TemporaryAccessPass)</h2>
                    @if (Response.IsUsableOnce)
                    {
                        <span class="d-block">
                            It is usable once and it is valid for @(Response.LifetimeInMinutes) minutes starting from @($"{Response.StartDateTime.LocalDateTime.ToShortDateString()} {Response.StartDateTime.LocalDateTime.ToShortTimeString()}")
                        </span>
                    }
                    else
                    {
                        <span class="d-block">
                            It is valid for @(Response.LifetimeInMinutes) minutes starting from @($"{Response.StartDateTime.LocalDateTime.ToShortDateString()} {Response.StartDateTime.LocalDateTime.ToShortTimeString()}")
                        </span>
                    }
                }
            </div>
        </div>
    </div>
</div>
